version: "3.9"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: learnhub
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  api:
    build:
      context: ..
      dockerfile: services/api/Dockerfile
    environment:
      LEARNHUB_DATABASE_URL: postgresql+psycopg2://postgres:postgres@db:5432/learnhub
      LEARNHUB_REDIS_URL: redis://redis:6379/0
      LEARNHUB_JWT_SECRET: dev-secret
      LEARNHUB_PUBLIC_BASE_URL: http://localhost:8000/media
    volumes:
      - ../:/app
      - storage_data:/data/storage
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
  worker:
    build:
      context: ..
      dockerfile: services/worker/Dockerfile
    environment:
      LEARNHUB_DATABASE_URL: postgresql+psycopg2://postgres:postgres@db:5432/learnhub
      LEARNHUB_REDIS_URL: redis://redis:6379/0
      LEARNHUB_JWT_SECRET: dev-secret
      LEARNHUB_PUBLIC_BASE_URL: http://localhost:8000/media
    volumes:
      - ../:/app
      - storage_data:/data/storage
    depends_on:
      - db
      - redis
volumes:
  db_data:
  storage_data:
